* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --Moderate-Violet: hsl(263, 55%, 52%);
    --Grayish-Blue: hsl(217, 19%, 35%);
    --Blackish-Blue: hsl(219, 29%, 14%);
    --White: hsl(0, 0%, 100%);
    --Light-Grey: hsl(0, 0%, 81%);
    --Light-Grayish-Blue: hsl(210, 46%, 95%);
}

body {
    font-family: 'barlow semi condensed';
    padding: 1.563rem;
    background: var(--Light-Grayish-Blue);
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    margin-top: 3rem;
}

.card {
    border-radius: 0.5rem;
    padding: 1.7rem;
    position: relative;
    box-shadow: 0px 3px 8px hsla(0, 0%, 0%, 0.24);
}

.card:hover {
    box-shadow: 0px 5px 15px hsla(0, 0%, 0%, 0.35);
    transform: translateY(-0.188rem);
}

.quotation {
    position: absolute;
    right: 1.25rem;
    margin-top: -1.688rem;
    opacity: 70%;
}

.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
}

.profile p { 
    color: hsl(0, 0%, 100%);
    font-weight: 450;
}

small {
    color: hsl(0, 0%, 100%, 70%);
    font-size: 0.813rem;
}

.profile img {
    border-radius: 50%;
    border: 0.125rem solid hsl(0, 0%, 100%,30%);
    width: 2.188rem;
    margin-right: 0.625rem;
}

h1 {
    color: var(--White);
    margin-bottom: 1.25rem;
    font-size: 1.563rem;
    font-weight: 450;
}

.quote {
    color: hsl(0, 0%, 100%, 50%);
    font-size: 0.813rem;
    font-weight: 400;
}

.first {
    background: var(--Moderate-Violet);
}

.second {
    background: var(--Grayish-Blue);
}

.third {
    background: var(--White);
}

.third h1 {
    color: var(--Grayish-Blue);
}

.third p {
    color: var(--Grayish-Blue);
}

.third .quote {
    color: hsl(0, 0%, 50%, 70%);
    font-weight: 500;
}

.third small {
    color: hsl(0, 0%, 50%, 70%);
}

.fourth {
    background: var(--Blackish-Blue);
}

.fourth img {
    border: 0.125rem hsl(283, 100%, 32%) solid;
}

.fifth {
    background: var(--White);
}

.fifth h1 {
    color: var(--Grayish-Blue);
}

.fifth p {
    color: var(--Grayish-Blue);
}

.fifth small {
    color: hsl(0, 0%, 50%, 70%);
}

.fifth .quote {
    color: hsl(0, 0%, 50%, 70%);
    font-weight: 500;
}

.attribution {
     font-size: 0.688rem;
     text-align: center;
     margin-top: 1.25rem;
}

.attribution a {
     color: hsl(228, 45%, 44%);
}

@media (min-width: 600px) {
    body {
        padding: 1.563rem 3.5rem;
    }

    .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 20% 20% 20% 20%;
    }

    h1 {
        font-size: 1.25rem;
        font-weight: 450;
    }

    .first {
        grid-column-start: 1;
        grid-column-end: span 2;
        grid-row-start: 1;
        grid-row-end: 1;
    }

    .fourth {
        grid-column-start: 1;
        grid-column-end: span 2;
    }

    .fifth {
        grid-column-start: 1;
        grid-column-end: span 2;
    }
}

@media (min-width: 48rem) {
    .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 20% 20% 20% 20%;
    }

    .first {
        grid-column-start: 1;
        grid-column-end: span 2;
        grid-row-start: 1;
        grid-row-end: 1;
    }

    .third {
        grid-column-start: 1;
        grid-column-end: span 1;
        grid-row-start: 2;
        grid-row-end: span 2;
    }

    .fourth {
        grid-column-start: 2;
        grid-column-end: span 3;
        grid-row-start: 2;
        grid-row-end: span 2;
    }

    .fifth {
        grid-column-start: 1;
        grid-column-end: span 3;
        grid-row-start: 4;
        grid-row-end: span 4;
    }
}   

@media (min-width: 60.5rem) {
    .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 20% 20% 20%;
    }
    
    body {
        padding: 1.563rem 12rem;
    }

    .first {
        grid-column-start: 1;
        grid-column-end: span 2;
        grid-row-start: 1;
        grid-row-end: span 2;
    }

    .second {
        grid-column-start: 3;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: span 2;
    }

    .third {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: span 1;
    }

    .fourth {
        grid-column-start: 2;
        grid-column-end: span 2;
        grid-row-start: 3;
        grid-row-end: 3;
    }

    .fifth {
        grid-column-start: 4;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: span 3;
    }

    .fifth .quote {
        width: 90%;
        margin-top: 2.188rem;
    }

    .third .quote {
        width: 90%;
        margin-top: 1.25rem;
    }

    .third h1 {
        width: 83%;
    }

}
